:root {
    --bg-color: #fff;
    --grey-color: #454f5b;
    --black-color: #161c24;
    --main-color: #4295e4;
    --stroke-color: #eaeaea;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/sfpro/SFProText-Light.woff2') format('woff2'),
        url('../fonts/sfpro/SFProText-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/sfpro/SFProText-Regular.woff2') format('woff2'),
        url('../fonts/sfpro/SFProText-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/sfpro/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/sfpro/SFProText-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/sfpro/SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/sfpro/SFProText-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/sfpro/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/sfpro/SFProText-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

/* ==================General==================== */

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: 'SF Pro', sans-serif;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--grey-color);
}

img {
    max-width: 100%;
    height: auto;
}

.dropdown-toggle::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 10px;
    border: 0;
}

/* ==================General==================== */


/* ==================Header==================== */

.top-line {
    background-color: var(--grey-color);
    color: var(--bg-color);
    font-weight: 500;
    padding: 10px 0;
}

.top-line a {
    color: var(--bg-color);
    transition: all .3s;
}

.top-line a:hover {
    color: var(--main-color);
}

.top-navbar {
    box-shadow: inset 0 -1px 0 #C4CDD5;
    /* border-bottom: 1px solid #C4CDD5; */
}

.navbar-brand {
    margin-right: 100px;
}

.top-navbar a {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 300;
}

.top-navbar .navbar-nav>li>a::before {
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid var(--grey-color);
    transform: scale(0);
    transition: all .3s;
}

.top-navbar .navbar-nav>li>a:hover::before {
    transform: scale(1);
}

.navbar-side {
    display: flex;
    position: relative;
}

.navbar-side>ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-bottom: 0;
    margin-right: 45px;
}

.navbar-side ul i {
    color: var(--grey-color);
    font-size: 18px;
    transition: all .3s;
}

.navbar-phone .fa-phone {
    color: var(--main-color);
}

.navbar-phone a {
    text-decoration: none;
}

.navbar-side a {
    transition: all .3s;
}

.navbar-side>ul>li>a:hover,
.navbar-side>ul>li>a:hover i {
    color: var(--main-color);
}

.navbar-side .dropdown-item:hover {
    color: var(--bg-color);
    background-color: var(--grey-color);
}

.search-form {
    position: absolute;
    right: 0;
    top: -5px;
    width: 100%;
    z-index: 2;
}

.search-form .form-control {
    position: absolute;
    right: 0;
    border-radius: 30px;
    width: 0;
    opacity: 0;
    transition: all .3s;
}

.search-form button {
    position: absolute;
    right: 0;
    top: 1px;
    background-color: var(--grey-color);
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.search-form .form-control.show {
    width: 100%;
    opacity: 1;
}

/* ==================Header==================== */